
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html{
  height: 100%;

  body{
    height: 100%;

    #app{
      height: 100%;
    }
  }
}

.ui.modal.active{
  height: 200px;
}

.ui.comments{
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
}